[data-theme='light'] {
  --background-primary: #{$themes-light-background-primary-default};
  --background-primary-gradient: #{$themes-light-background-primary-gradient};
  --background-secondary-1: #{$themes-light-background-secondary-1};
  --background-secondary-2: #{$themes-light-background-secondary-2};
  --background-secondary-3: #{$themes-light-background-secondary-3};
  --background-secondary-4: #{$themes-light-background-secondary-4};
  --background-secondary-gradient-1: #{$themes-light-background-secondary-gradient};
  --font-primary: #{$themes-light-text-primary};
}

[data-theme='dark'] {
  --background-primary: #{$themes-dark-background-primary-default};
  --background-primary-gradient: #{$themes-dark-background-primary-gradient};
  --background-secondary-1: #{$themes-dark-background-secondary-1};
  --background-secondary-2: #{$themes-dark-background-secondary-2};
  --background-secondary-3: #{$themes-dark-background-secondary-3};
  --background-secondary-4: #{$themes-dark-background-secondary-4};
  --background-secondary-gradient-1: #{$themes-dark-background-secondary-gradient};
  --font-primary: #ffffffde;
}
