[data-theme='light'] {
  --background-primary: #{$themes-light-background-primary-default};
  --background-primary-gradient: #{$themes-light-background-primary-gradient};
  --background-secondary-1: #{$themes-light-background-secondary-1};
  --background-secondary-2: #{$themes-light-background-secondary-2};
  --background-secondary-3: #{$themes-light-background-secondary-3};
  --background-secondary-4: #{$themes-light-background-secondary-4};
  --background-secondary-gradient-1: #{$themes-light-background-secondary-gradient};
  --background-info: #{$themes-light-background-info-default};
  --background-info-gradient: #{$themes-light-background-info-gradient};
  --background-success: #{$themes-light-background-success-default};
  --background-success-gradient: #{$themes-light-background-success-gradient};
  --background-warning: #{$themes-light-background-warning-default};
  --background-warning-gradient: #{$themes-light-background-warning-gradient};
  --background-danger: #{$themes-light-background-danger-default};
  --background-danger-gradient: #{$themes-light-background-danger-gradient};
  --font-primary: #{$themes-light-text-primary};
}

[data-theme='dark'] {
  --background-primary: #{$themes-dark-background-primary-default};
  --background-primary-gradient: #{$themes-dark-background-primary-gradient};
  --background-secondary-1: #{$themes-dark-background-secondary-1};
  --background-secondary-2: #{$themes-dark-background-secondary-2};
  --background-secondary-3: #{$themes-dark-background-secondary-3};
  --background-secondary-4: #{$themes-dark-background-secondary-4};
  --background-secondary-gradient-1: #{$themes-dark-background-secondary-gradient};
  --background-info: #{$themes-dark-background-info-default};
  --background-info-gradient: #{$themes-dark-background-info-gradient};
  --background-success: #{$themes-dark-background-success-default};
  --background-success-gradient: #{$themes-dark-background-success-gradient};
  --background-warning: #{$themes-dark-background-warning-default};
  --background-warning-gradient: #{$themes-dark-background-warning-gradient};
  --background-danger: #{$themes-dark-background-danger-default};
  --background-danger-gradient: #{$themes-dark-background-danger-gradient};
  --font-primary: #ffffffde;
}
